.button--circle {
    margin: 0 0 0.85vw 0.85vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: none;
    font-size: 200%;
    cursor: pointer;
}

.button--square {
    margin: 0 0 0.85vw 0.85vw;
    width: 5vw;
    height: 5vw;
    border: none;
    font-size: 175%;
    cursor: pointer;
}

.button--big-square {
    margin: 0 0 0.85vw 0.85vw;
    width: 23.4vw;
    height: 5vw;
    border: none;
    font-size: 175%;
    cursor: pointer;
}
